@media (max-width: 768px) {
  .countrysection-card-container {
    width: 100%;
    height: 100%;
    background: #dddcdc;
    /* margin: 140px 0px 87px 0px; */
    padding: 40px 30px 20px 30px;
  }

  .countrysection-card-container input:focus-visible {
    outline: unset;
  }
}
