@media (max-width: 768px) {
  .started {
    min-height: 0px;
  }

  .started .overlap {
    width: 100%;
    padding: 0%;
    overflow: auto;
  }

  .started .logo-image {
    position: relative;
    width: 124px;
    height: 30px;
    object-fit: cover;
    top: 8px;
  }

  .started .started-header {
    height: 146px;
    padding: 5px 13px;
    background-color: #90b862;
  }

  .started .back {
    color: #fff;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .started .header-title {
    text-align: center;
    margin-top: 38px;
    color: #3f4955;
    font-family: "Inter", Helvetica;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .started .started-container {
    display: flex;
    flex-direction: column;
    min-height: calc(48vh - 1px);
  }

  .started .container-left {
    min-width: 204px;
    height: fit-content;
    margin-top: 23px;
    margin-left: 15px;
  }

  .started .container-left p:hover {
    font-size: 13px;
    line-height: 25px;
  }

  .started .container-left .clickedSubject {
    font-size: 13px;
    line-height: 25px;
  }

  .started .text-3 {
    font-size: 13px;
    line-height: 25px;
  }

  .started .container-right {
    padding: 0px 15px;
    margin-right: 0px;
  }

  .started .container-right .disabled {
    display: none;
  }

  .started .content-content {
    margin-top: 43px;
    font-size: 14px;
    line-height: 25px;
  }

  .started .text-5 {
    font-size: 14px;
    line-height: 25px;
  }
}
