.twofa .phone-number-card {
  width: 408px;
  border-radius: 10px;
  background: #fff;
  margin: 140px 0px 87px 0px;
  padding: 40px 30px 20px 30px;
}

.phone-number-card .proceebtn {
  width: 100%;
  height: 38px;
  margin-top: 29px;
  border-radius: 6px;
  border: none;
  background: #f28705;
  cursor: pointer;
  color: #fff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}

.phone-number-card .images-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 35px;
}

.phone-number-card .text-1 {
  color: #3f4955;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
}

.phone-number-card .text-2 {
  color: #75787e;
  font-family: "Inter-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 8px;
}

.phone-number-card .text-3 {
  color: transparent;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
  text-align: center;
}

.phone-number-card .text-4 {
  color: #a0a6ac;
}

.phone-number-card .text-5 {
  color: #f28705;
}

.phone-number-card .imgbtn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.phone-number-card .imgbtn {
  width: 155px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.phone-number-card .imgbtn:hover {
  border-radius: 10px;
  border: 1px solid #4181dc;
}

.phone-number-card .imgbtn .emailusimage {
  width: 100%;
}

.phone-number-card .imgbtn .callusimage {
  width: calc(100% - 20px);
  margin-left: 20px;
}

.phone-number-card .imgbtn-text {
  color: #75787e;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.phone-number-card .phone-number-input {
  border-radius: 6px;
  background: #f1f1f1;
  padding: 0px 14px;
  margin-top: 20px;
}

.phone-number-card .PhoneInputInput {
  height: 35px;
  border: none;
  background-color: transparent;
}

.phone-number-card .PhoneInputInput:focus-visible {
  outline: none;
}
