.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login .overlap-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login .overlap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login .overlap-2 {
  margin-top: 25px;
}

.login-card-container {
  width: 100%;
  height: calc(100% - 50px);
  background: #dddcdc;
  padding: 30px 30px 20px 30px;
}

.login-card-container .firstlastname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.login-card-container input {
  background-color: #f1f1f1;
  border: 1px solid transparent;
  border-radius: 6px;
  width: -webkit-fill-available;
  height: 21px;
  padding: 8px 14px;
  outline: unset;
}

.login-card-container input:focus-visible {
  outline-color: #4181dc;
}

.login-card-container .pwd-check-element {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.login-card-container .password {
  display: flex;
  position: relative;
  align-items: center;
}

.login-card-container .pwd-check-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.login-card-container .password-toggle {
  position: absolute;
  right: 16px;
  z-index: 10;
}

.login-card-container .pwd-check-wrapper .element_2 {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 50%;
}

.login-card-container .pwd-check-wrapper .black-status {
  background-color: #000000;
}

.login-card-container .pwd-check-wrapper .green-status {
  background-color: #17c63d;
}

.login-card-container .joinkeybtn {
  width: 100%;
  height: 38px;
  margin-top: 29px;
  border-radius: 6px;
  border: none;
  background: #f28705;
  cursor: pointer;
  color: #fff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}

.login-card-container .loginpasskeybtn {
  position: relative;
  width: 100%;
  height: 38px;
  margin-top: 20px;
  border-radius: 6px;
  border: none;
  background: #91b762;
  cursor: pointer;
  color: #fff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}

.login-card-container .lock-icon {
  position: absolute;
  left: 50px;
  top: 14px;
}

.login-card-container .text-1 {
  color: #3f4955;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
}

.login-card-container .text-2 {
  color: #75787e;
  font-family: "Inter-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 8px;
}

.login-card-container .text-3 {
  color: #3f4955;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
}

.login-card-container .text-4 {
  color: #a0a6ac;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
}

.login-card-container .already-on-KOY-log,
.by-registering-you {
  color: transparent;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
  text-align: center;
}

.login-card-container .already-on-KOY-text,
.by-registering-you-text {
  color: #a0a6ac;
}

.login-card-container .log-In-text,
.terms-of-service-text {
  color: #f28705;
  cursor: pointer;
}

.login-card-container .errorMsg {
  color: red;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
}

.login-card-container .none {
  display: none;
}
